/* HANGMAN-GAME */

/* Overall Styling */
* {
	box-sizing: border-box;
}


body {
	background-image: url("../images/background3.png");
	color: white;
	font-family: 'Permanent Marker', cursive;
	text-shadow: 3px 3px #a94442;
}

/* Title Section */
#title {
	text-align: center;
	margin-bottom: 60px;

}

h1 {
	font-family: 'Anton', sans-serif;
	margin-bottom: 0px;
	font-size: 800%
}

h2 {
	margin-top: 0px;
}

/* Answer Section */
#answer {
	text-align: center;
	font-size: 40px;
}

/* Image Section */
#image {
	border: solid;
	border-color: white;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
	text-align: center;
}

img {
	padding: 10px;
	height: 300px;
}

/* Game Section */
#game {
	border: solid;
	border-color: white;
	text-align: center;
	font-size: 25px;
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 50px;
}

footer {
	text-align: center;
}

/* Media queries: Styling for game section when game ends */
@media screen and (min-width: 992px) {
	.end-game {
		margin-top: 100px;
	}	
}